/* TAG */

/* CLASS */
.middle-container {
  width: 200px;
  height: 200px;
  background-color: aliceblue;
}

.bottom-container {
  width: 200px;
  height: 200px;
  background-color: antiquewhite;
}
/* ID */
